@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    box-sizing: 0;
    margin: 0;
    padding: 0;
    color: #503217;
}
.title{
    font-size: 2rem;
    color: #503217;
    font-weight: 500;
}

/* share Style */
.flex {
    display: flex;
    gap: 20px;
}

/* navbar section style */
header{
    
    background-color: #EEEDE7;
}
.nav-aside img {
    width: 50px;
    height: 50px;

}

.nav-aside{
    align-items: center;
    justify-content: center;

}

.nav-container {
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 1400px;
    margin:0 auto;
}

div >ul{
    justify-content: center;
    align-items: center;
    text-decoration: none;
    
}
div >ul li{
    list-style: none;
}
div >ul li a{
    text-decoration: none;
    color: #503217;
}

/* main section start here */
main{
    background-color: #E2DFCF;
}
.banner-container{
    max-width: 1400px;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.banner-des{
    font-size: 1rem;
    color: #503217;
    padding: 15px 0;
}
.btn{
    padding: 10px 20px;
    background-color: #503217;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.category-container{
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    padding: 20px;
}
.category-title{
    text-align: center;
    margin: 40px;
}
.card{
    border: 2px solid #8F7D6A1A;
    padding: 20px;
    border-radius: 10px;
    background-color: #EEEDE7;
    width: 100px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.card > img{
    width: 60px;
}
.card-title{
    color: #503217;
    font-size: 1rem;
    font-weight: 500;
}
.cart-quntity{
    color: #8F7D6A;
    font-size: 14px;
    font-weight: 400;
}

/* collection section start here */
.collection-card{
    border: 1px solid white;
    background-color: #F2F2F2;
    padding: 20px;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 200px;

}
.collection-container{
    justify-content: center;
    align-items: center;
}
.badge{
    background-color: #D3744A;
    padding: 4px 10px;
    border-radius: 10px;
    border: transparent;
}
.collection-title{
    font-size: 1.5rem;
    font-weight: 500;
    padding-top: 30px;
}
.collecion-view{
    border-bottom: 2px solid #503217;
    display: inline;
    position: relative;

}
.collection-img{
    width: 24px;
    height: 24px;
    position: relative;
    top: 6px;

}
.collection-des{
    font-size: 1rem;
    color:#8F7D6A;
}

/* product section start here */
.product-container{
    margin-top: 80px;
}
.product-title, .user-title{
    text-align: center;
    margin-top: 60px;

}
.product-img{
    position: relative;
    height: 250px;
    width: 300px;
    background-color: #F2F2F2;
    justify-content: center;
    align-items: center;
}
.prouct-badge{
    position: absolute;
    left: 10px;
    top: 20px;
}
.product-card-container{
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 0;
}
.collection-title{
    padding-top: 10px ;
}
.user-rivew-content{
    background-color: #F2F2F2;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    position: relative;
    border: 2px solid white;
    border-radius: 10px;
    border: transparent;
    
    
    
}
.user-rivew-des{
    text-align: center;
    padding: 90px ;
}
.review-tag{
    position: absolute;
    top: 40px;
    left: 20px;
}
.rivew-user img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.user-name{
    font-size: 1rem;
    font-weight: 500;
}
.user-role{
    font-size: 1rem;
    font-weight: 500;
    color: #8F7D6A;
}
.review-user-container{
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 40px;
}
.rivew-user{
    justify-content: center;
    align-items: center;
}
.footer-aside p, .adress-title{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 15px;
    text-align: center;
}
.footer-aside ul li, .footer-des, .adress-des{
    font-size: 1rem;
    font-weight: 500;
    color: #8F7D6A;
    padding: 5px;
    text-align: center;
}
.footer-title {
    align-items: center;
    justify-content: center;
    font-size: 5rem;

}
.social-media{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.footer-container{
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 80px;
    
}
.adress-img{
    width: 20px;
    height: 20px;

}
.adress{
    gap: 2px;
    justify-content: center;
    align-items: center;
}
.user-adress{
    margin-top: 40px;
}
.footer-copy{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}