@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Raleway", sans-serif;
    box-sizing: 0;
    margin: 0;
    padding: 0;


}

body {
    background: rgb(245, 248, 255);
}

header {
    background-image: url(../Assets/Hero-bg.png);
    margin: 10px 0px;
    padding: 5px 0px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;

}

nav>h2 {
    color: rgb(78, 71, 255);
    font-size: 34px;
    font-weight: 900;
}

.btn-primary {
    border-radius: 10px;
    background: rgb(78, 71, 255);
    padding: 12px 36px;
    color: white;
}

.banner>.banner-squre {
    width: 100px;
    height: 100px;
    background: rgb(255, 255, 255);
}

.banner>.banner-title {
    max-width: 905px;
    font-size: 65px;
    font-weight: 900;
    text-align: center;
    margin: 20px;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;

}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0px;
}


.action-title {
    font-size: 42px;
    font-weight: 700;
}

.action-description {
    font-size: 18px;
    font-weight: 400;
    color: rgba(37, 36, 50, 0.5);
    width: 517px;
    padding: 10px 0px;
}

.action-img {
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

main {
    margin: 0px 150px;
}

.user-quantity,
.river-decription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    gap: 20px;
}

.user-info {
    border-radius: 24px;
    background: rgba(78, 71, 255, 0.1);
    padding: 50px 80px;
}

.user-title,
.rivew-title {
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    padding: 20px 0px;
}

.user-rivew {
    margin: 80px 0px;
}

.user-quantity-info {
    color: rgb(78, 71, 255);
    font-family: inter;
    font-size: 80px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 6px;
}

.user-description {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.river-user-name-title {
    color: rgba(117, 117, 117, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
}

.river-user-name-des {
    color: rgba(179, 179, 179, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

.user-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.river-user-info {
    display: flex;
    gap: 40px;
    padding: 10px;
}

.rivew-des-title,
.rivew-name {
    padding: 10px 0px;
    font-weight: bold;
}

.rivew-details {
    border: 1px solid rgba(242, 237, 237, 1);
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.5);
    ;
    padding: 20px;
}

.focus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    background: rgba(255, 255, 255, 1);
}

.focus-title {
    font-size: 50px;
    font-weight: 700;
    padding: 20px 0px;
}

.focus-des {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

.focus-btn {
    box-sizing: border-box;
    border-radius: 10px;
    backdrop-filter: blur(4px);
    background-color: #4E47FF;
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 500;
    padding: 10px 26px 10px 26px;
    margin: 20px 0px;
}

.focus-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.contact-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin: 80px 0px;
}

.contact-form-title {
    font-size: 70px;
    font-weight: 700;
}

.contact-input-title {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0px;

}

.input-field {
    width: 400px;
    height: 30px;

}

input::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    padding: 32px 20px;
}

textarea {
    width: 400px;
    height: 100px;
}

textarea::placeholder {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;

}

.contact-btn {
    border-radius: 10px;
    background-color: #4E47FF;
    padding: 10px 150px 10px 150px;
    color: rgba(255, 255, 255, 1);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    ;
    padding: 80px 0px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-title {
    color: rgba(78, 71, 255, 1);
    font-family: Inter;
    font-size: 100px;
    font-weight: 900;
}

.footer-des {
    color: rgba(137, 135, 161, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0;
}

.footer-servise {
    display: flex;
    gap: 40px;
    align-items: center;

}

footer ul a {
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

footer ul li {
    list-style: none;
}

@media only screen and (max-width: 600px) {

    nav,
    main {
        margin: 10px;
    }

    .banner>.banner-squre {
        width: 50px;
        height: 50px;
    }

    .banner>.banner-title,
    .action-title,
    .user-title,
    .focus-title {
        max-width: 100%;
        font-size: 25px;
        font-weight: 700;
    }

    .action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
        margin: 50px 0px;
    }

    .action-description,
    .focus-des {
        font-size: 12px;
        font-weight: 400;
        width: 300px;
    }

    .action-img {
        width: 303px;
        height: 228px;
    }

    .btn-primary {
        padding: 8px 26px;
    }

    .user-quantity,
    .river-decription,
    .contact-section {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 10px;

    }

    .user-info {
        padding: 0px;
    }

    .focus-img {
        width: 300px;
    }

    .focus {
        align-items: start;
        justify-content: start;
    }

    .user-rivew {
        margin: 40px 0px;
    }

    .contact-form-title,
    .footer-title {
        font-size: 40px;
        font-weight: 700;
    }

    .input-field {
        width: 250px;
        height: 20px;

    }

    textarea {
        width: 250px;
        height: 80px;
    }

    .contact-btn {
        padding: 10px 80px 10px 80px;
    }

    .contact-section,
    .footer- {
        padding: 20px 0;
    }

    .footer-des {
        margin: 20px 10px;
    }

    .footer-servise {
        gap: 15px;

    }


}